body{
   background-image: url("rajr.jpg");
    text-align:center;
    background-size: contain;
}
h1{
    color:orange;
    font-size:12mm;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.msgco{
    display:flex;
    flex-direction:column;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    gap:1.5vmin;
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    font-size:8vmin;
    color:#b0413e;
    background-color: #ffffc7;
}
#reset{
    background-color:#191913;
    color:yellow;
    font-size:2cm;
}
#msg{
    font-size:2cm;
    color:red;
}
.hide{
    display:none;
}
